@model HelloWebAPIClient1.Models.Employee

@if (Model != null)
{
    <tr>
        <td>@Model.EmployeeID</td>
        <td>@Model.EmployeeName</td>
        <td>@Model.EmailID</td>
        <td>@Model.Phone</td>
        <td>@Model.Salary</td>
        <td>@Model.City</td>
    </tr>
}